<!DOCTYPE html>
    <body>
        <form method="post">
<!-- makes it so the checkboxes are even -->
            <label>
                {{query}}
                <!-- removes bullets beside checkboxes -->
                <ul style="list-style: none;">
                    {% for each in choices %}
                    <li>
                        <input type="checkbox" name="uAnswer" value="{{choices.index(each)}}"/> {{each}}</li>
                        {% endfor %}
                </ul>
            </label>
        </form>
    </body>
</html>